<h3><%= @idea.title %></h3>

<section class="section">
    <p><%= @idea.body %></p>

    <div>
        <small>
            Asked <%= time_ago_in_words(@idea.created_at) %> ago
        </small>
        <small>
            Last edited <%= time_ago_in_words(@idea.updated_at) %> ago
        </small>
    </div>
    <div>
        <small>
            <%= link_to "Edit", edit_idea_path(@idea) %>
        </small>
        <small>
            <%= link_to(
                "Delete", idea_path(@idea),
                method: :delete,
                data: {confirm: "Are you sure?"}
                )%>
        </small>
    </div>
</section>
 <section>
  <h1>Created ideas</h1>

   <%= form_with(model: [@idea, @created_idea], local: true) do |f| %>
    <% if @created_idea.errors.present? %>
      <p class="form-errors">
        <%= @created_idea.errors.full_messages.join(", ") %>
      </p>
    <% end %>

     <div class="form-group">
      <%= f.text_area(
      :description, cols: 50, rows: 5,
      placeholder: "What are your thoughts...",
      class: "form-control"
      ) %>
    </div>
    <%= f.submit "Created idea" %>
  <% end %>

   <hr />

     <ul class="created_idea-list">
      <% @created_ideas.each do |created_idea| %>
        <li>
          <p>
          <%= created_idea.description %> <br />
          <small>
            <%= link_to(
            "Delete",
            idea_created_idea_path(@idea, created_idea),
            method: :delete, data: {
              confirm: "Are you sure?"
            }
            ) %>
          </small>
          <small>
            Idea_created <%= time_ago_in_words(created_idea.created_at) %> ago
          </small>
        </p>
        </li>
      <% end %>
    </ul>
</section>